/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */
   body {

    /* kleur */

    --standard-color: #222226;
    --second-standard-color: white;
    --third-standard-color: #666666;
    --changeable-color: #364BF7;

    /* font */

    --main-font: "Archivo";
    --secondary-font: "Martian Mono";
  
    /* font size headings */
      
    --font-size-xxl: 96px;
    --font-size-xl: 64px;
    --font-size-l: 48px;
    --font-size-m: 32px;
    --font-size-s: 24px;

    /* letter-spacing */

    --letter-spacing-main: -4%;
    --letter-spacing-secondary: 0%;

    /* font-weight */
    --main-font-weight: 
  } 
   
   
   
   
   #kleur{
    .color-example-1{
      background-color: var(--standard-color);
      color: var(--second-standard-color)
    }
  
    .color-example-2{
      background-color: #666666;
      color: white;
    }
  
    .color-example-3{
      background-color: #FFFFFF;
      border: 1px solid black;
    }
  
    .color-example-4{
      background-color: #364BF7;
      color: white;
    }
  
  }
  

    h1{

      font-size: 96px;
      font-family: var(--main-font);
      line-height: 96px;
      letter-spacing: -4%;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    h2{
      font-size: 64px;
      font-family: var(--main-font);
      line-height: 64px;
      letter-spacing: -4%;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    h3{
      font-size: 48px;
      font-family: "Archivo";
      line-height: 48px;
      letter-spacing: -4%;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    h4{
      font-size: 32px;
      font-family: "Archivo";
      line-height: 40px;
      letter-spacing: 0%;
      font-weight: 400;
      text-transform: uppercase;
    }
  
    h5{
      font-size: 24px;
      font-family: "Archivo";
      line-height: 40px;
      letter-spacing: 0%;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    h6{
      font-size: 24px;
      font-family: "Archivo";
      line-height: 40px;
      letter-spacing: 0%;
      font-weight: 400;
      text-transform: uppercase;
    }
  
    .paragraph{
      font-size: 18px;
      font-family: "Archivo";
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -4%;
    }
  
    .sub-text{
      font-size: 16px;
      font-family: "Martian Mono";
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -4%;
    }
  
    .unordered-lists{
      font-family: "Martian Mono";
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 16px;
      letter-spacing: 0%;
    }
  
    .primary-cta{
      font-family: "Martian Mono";
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
    }
  
    .unordered-lists-footer{
      font-size: 18px;
      font-family: "Archivo";
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0%;
      text-decoration: underline;
    }
  
  
  #buttons-black{
    .buttons-black{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-family: "Martian Mono";
      text-transform: uppercase;
      gap: 12px;
      padding: 10px 16px 10px 16px;
      border: 2px solid #222226;
      background-color: white;
    }
  }
  
    #buttons-blue{
      .buttons-blue{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-family: "Martian Mono";
        text-transform: uppercase;
        gap: 12px;
        padding: 10px 16px 10px 16px;
        border: 2px solid #364BF7;
        background-color: white;
        color: #364BF7;
      }
  }